<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1"/>
                <binding name="BasicHttpBinding_IService11"/>
                <binding name="BasicHttpBinding_IService12"/>
              <binding openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="01:00:00" receiveTimeout="02:00:00">
              </binding>
            </basicHttpBinding>
          
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WKR1/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WKR1/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference2.IService1" name="BasicHttpBinding_IService11"/>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WKR1/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="ServiceReference3.IService1" name="BasicHttpBinding_IService12"/>
        </client>
    </system.serviceModel>
</configuration>
